/.gitattributes text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cjs text eol=lf
.husky/* text eol=lf
apps/web/cypress/fixtures/*.jsonl text eol=lf
apps/web/cypress/fixtures/*.csv text eol=lf
